* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    clear: both;
    padding-top: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgba(221, 221, 221, 0.411);
}

h1 {
    color: rgb(70, 3, 90);
    font-family: sans-serif;
    font-size: 40pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

.backcell {
    background-color: rgba(231, 231, 231, 0.507);
    z-index: 0;
    padding: 0.6em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.text-desc {
    float: right;
    width: 450px;
    margin-right: 40em;
    font-size: 14pt;
    padding-top: 15em;
}

.out {
    opacity: .5;
}

.smartphone {
    width: 480px;
    background-color: white;
    float: left;
    margin-left: 30em;
    padding: 1.4em;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    height: 900px;
}

.sam-icon {
    float: left;
}

.setinha {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    float: left;
    margin-top: 0.5em;
    padding-right: 1em;
    padding-left: 1.2em;
    font-size: 18pt;
}

.setinha:hover {
    color: gray;
    transition: 0.5s;
}

.avatar {
    width: 55px;
    border-radius: 50%;
    border: solid white 2px;
    display: flex;
    float: left;
}

.top-smart {
    background: linear-gradient(to right, rgb(74, 21, 95), rgb(183, 43, 248));
    height: 70px;
    padding-top: 2.5em;
    z-index: 1;
    height: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-content: center;
    text-align: center;
}

.samuel,
.available {
    float: left;
    margin: 0;
    clear: right;
    width: 220px;
    color: white;
    letter-spacing: 0.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.samuel {
    font-size: 16pt;
    font-weight: bold;
}

.available {
    opacity: 0.6;
    padding-top: 0;
    font-weight: thin;
}

.sam-msg {
    width: 300px;
    padding: 0.8em;
    margin-left: 1em;
    background-color: rgb(224, 218, 233);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
    color: rgb(154, 34, 158);
}

.sam-msg,
.value,
.txt,
.submit {
    clear: right;
}

#dogs {
    float: right;
    padding: 1em;
}

.dog {
    width: 90px;
    border-radius: 28px;
    padding: 0.3em;
}

.me-msg,
.me-msg2 {
    float: right;
    width: 250px;
    padding: 1em;
    margin-right: 1em;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 0.5em;
    color: black;
}

.me-msg2 {
    width: 200px;
}

.txt {
    border: none;
    font-size: 13pt;
    font-family: monospace;
    background-color: transparent;
    color: gray;
    float: left;
    align-content: center;
    margin-left: 1.2em;
    width: 300px;
    height: 32px;
    padding-left: 1em;
}

.box-txt-bottom {
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    background-color: white;
    border-radius: 40px;
    margin-top: 4.6em;
}

.submit {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 18em;
    background-color: rgb(51, 5, 51);
    color: white;
    font-size: 23pt;
    font-family: monospace;
    font-weight: bold;
}

.submit:hover {
    color: black;
    background-color: purple;
    transition: 0.3s;
}

.walk {
    text-decoration: none;
    background: linear-gradient(to left, rgb(104, 11, 107), rgb(221, 81, 209));
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    position: relative;
    float: left;
    clear: right;
    width: 350px;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 1em;
}

.walk:hover {
    background: linear-gradient(to left, rgb(153, 23, 170), rgb(238, 114, 221));
    transition: 0.4s;
    color: black;
}

.opti {
    float: left;
    margin-left: 1.2em;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    color: white;
    opacity: 0.7;
}

.numeroo {
    float: right;
    padding-right: 1em;
    font-size: 16pt;
}

.branco {
    width: 200px;
    text-decoration: none;
    border: none;
    background-color: white;
    margin-left: 8.5em;
    padding-bottom: 1em;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
}

.roxoback {
    width: 700px;
    background: linear-gradient(to top, rgb(104, 11, 107), rgb(221, 81, 209));
    border: none;
    float: left;
    height: 800px;
    display: flex;
    z-index: 0;
    position: relative;
    border-bottom-left-radius: 25em;
    border-bottom-right-radius: 25em;
}