.attribution {
    font-size: 11px;
    text-align: center;
    clear: both;
    padding-top: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgba(221, 221, 221, 0.411);
}

h1 {
    color: rgb(70, 3, 90);
    font-family: sans-serif;
    font-size: 40pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-desc {
    float: right;
    width: 450px;
    padding-right: 40em;
    font-size: 14pt;
    padding-top: 15em;
}

.out {
    opacity: .5;
}

.smartphone {
    width: 450px;
    background-color: white;
    float: left;
    margin-left: 20em;
    padding: 1.6em;
    border-radius: 50px;
    height: 850px;
}

.sam-icon {
    float: left;
}

.setinha {
    font-size: 15pt;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    float: left;
    margin-top: 1em;
    padding-right: 0.5em;
    padding-left: 1em;
}

.setinha:hover {
    color: gray;
    transition: 0.5s;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    border: solid white 2px;
    display: flex;
    float: left;
}

.top-smart {
    width: 450px;
    background: linear-gradient(to right, rgb(74, 21, 95), rgb(183, 43, 248));
    height: 100px;
    padding-top: 2em;
    border-radius: 30px;
    position: absolute;
    margin-bottom: 1em;
}

.samuel,
.available {
    float: left;
    padding-left: 1em;
    margin: 0;
    clear: right;
    width: 220px;
    color: white;
    letter-spacing: 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.6em;
}

.samuel {
    font-size: 16pt;
    font-weight: bold;
}

.available {
    padding-left: 1.4em;
    opacity: 0.6;
    padding-top: 0;
    font-weight: thin;
    padding-bottom: 3em;
}

.backcell {
    background-color: rgba(231, 231, 231, 0.952);
    z-index: 0;
    border-radius: 5px;
    margin-top: 2.8em;
    padding: 1em;
}

.sam-msg {
    width: 250px;
    padding: 1em;
    margin-left: 2em;
    background-color: rgb(224, 218, 233);
    border-radius: 12px;
    margin: 0;
    float: left;
    margin-bottom: 0.3em;
    color: rgb(154, 34, 158);
}

#dogs {
    float: right;
    margin-left: 4em;
    position: relative;
}

.dog {
    width: 80px;
    padding: 0.5em;
    border-radius: 40px;
}