.attribution {
    font-size: 11px;
    text-align: center;
    clear: both;
    padding-top: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgba(221, 221, 221, 0.411);
}

h1 {
    color: rgb(70, 3, 90);
    font-family: sans-serif;
    font-size: 40pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

.backcell {
    background-color: rgba(231, 231, 231, 0.507);
    z-index: 0;
    padding: 1em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.text-desc {
    float: right;
    width: 450px;
    padding-right: 40em;
    font-size: 14pt;
    padding-top: 15em;
}

.out {
    opacity: .5;
}

.smartphone {
    width: 450px;
    background-color: white;
    float: left;
    margin-left: 40em;
    padding: 1em;
    border-radius: 50px;
    height: 780px;
}

.sam-icon {
    float: left;
}

.setinha {
    font-size: 15pt;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    float: left;
    margin-top: 1em;
    padding-right: 0.5em;
    padding-left: 1em;
}

.setinha:hover {
    color: gray;
    transition: 0.5s;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    border: solid white 2px;
    display: flex;
    float: left;
}

.top-smart {
    width: 420px;
    background: linear-gradient(to right, rgb(74, 21, 95), rgb(183, 43, 248));
    height: 70px;
    padding-top: 1.5em;
    padding: 1em;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.samuel,
.available {
    float: left;
    padding-left: 1em;
    margin: 0;
    clear: right;
    width: 220px;
    color: white;
    letter-spacing: 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.6em;
}

.samuel {
    font-size: 14pt;
    font-weight: bold;
}

.available {
    padding-left: 1.4em;
    opacity: 0.6;
    padding-top: 0;
    font-weight: thin;
    padding-bottom: 3em;
}

.sam-msg {
    width: 250px;
    padding: 1em;
    margin-left: 1em;
    background-color: rgb(224, 218, 233);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
    color: rgb(154, 34, 158);
}

.sam-msg,
.value,
.txt,
.submit {
    clear: right;
}

#dogs {
    float: right;
    padding: 1em;
}

.dog {
    width: 80px;
    border-radius: 25px;
}

.me-msg,
.me-msg2 {
    float: right;
    width: 250px;
    padding: 1em;
    margin-right: 1em;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 0.5em;
    color: black;
}

.me-msg2 {
    width: 200px;
}

.txt {
    border: none;
    font-size: 13pt;
    font-family: monospace;
    background-color: transparent;
    color: gray;
    float: left;
    align-content: center;
    margin-left: 1em;
    width: 300px;
    height: 32px;
}

.box-txt-bottom {
    text-align: center;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 40px;
}

.submit {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 18em;
    background-color: rgb(51, 5, 51);
    color: white;
    font-size: 22pt;
    font-family: monospace;
    font-weight: bold;
}

.submit:hover {
    color: black;
    background-color: purple;
}